@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body{
    background-color: beige;
}

h1{
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 40px;
    color: crimson;
    animation: h1;
    animation-duration: 3s;
    position: relative;
    animation-fill-mode: forwards;
}

@keyframes h1 {
    0% {top: -250px;}
    100% {top: 0;}
}

.image{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    padding: 30px;
    margin: 0 auto;
}

th{
    font-family: 'Mukta', sans-serif;
    color:crimson;
    font-size: 25px;
}

td{
    font-family: 'Rajdhani', sans-serif;
    color: brown;
    font-size: 20px;
}

h3{
    padding-left: 30px;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    text-align: center;
    color: crimson;
    font-size: 25px;
    animation: h3;
    animation-duration: 5s;
    animation-delay: 4s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes h3 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.instructions{
    margin: 0 auto;
    width: 50%;
    padding-bottom: 20px;
    animation: instructions;
    animation-duration: 5s;
    position: relative;
    animation-timing-function: ease-in-out;
}

@keyframes instructions {
    0% {left: -2000px;}
    85% {left: 50px;}
    100% {left: 0;}
}

li{
    font-family: 'Rajdhani', sans-serif; 
    color: brown;
    font-size: 20px;
}

a{
    color: crimson;
}

.link{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: crimson;
}

footer{
    text-align: center;
    padding-top: 30px;
    color: brown;
}